$orange: #eb0808;

* {
	font-family: 'Open Sans', sans-serif;
}

@font-face {
	font-family: norwester;
	src: url('../fonts/norwester.ttf'),
    	 url('../fonts/norwester.eot'); /* IE9 */
}

@media (max-width: 767px) {
	.header {
		text-align:center;
		p {
			text-align:center !important;
			line-height:25px;
		}
	}
	.tagline {
		text-align:center;
		padding: 25px 0px 25px 0px !important;
		h1 {
			font-size:35px !important;
		}
	}
	.stats {
		padding: 25px 0px 25px 0px !important;
		h1 {
			font-size:25px !important;
		}
	}
	.workshops {
		padding: 25px 0px 25px 0px !important;
		h1 {
			font-size:35px !important;
		}
	}

	.faq {
		padding: 25px 0px 25px 0px !important;
		h1 {
			font-size:35px !important;
		}
		br {
			display:none !important;
		}
		& .col-lg-4 {
			margin-bottom:35px;
		}
	}

	.sponsors {
		padding: 25px 0px 25px 0px !important;
		h1 {
			font-size:35px !important;
		}
		p {
			font-size:16px !important;
		}
	}

	.press {
		padding: 25px 0px 25px 0px !important;
		h1 {
			font-size:35px !important;
		}
		p {
			font-size:16px !important;
		}
	}
}

.header {
	padding: 25px 0px 25px 0px;
	border-bottom: 1px gray solid;
	h1 {
		font-family: norwester;
		color:$orange;
		margin:0px;
	}
	p {
		word-spacing: 25px;
		margin: 10px;
		text-align:right;
	}
	a {
		color:$orange;
		font-weight:600;
	}
	a:hover {
		text-decoration:none;
		opacity:0.8;
	}
}

.tagline {
	padding: 80px 0px 100px 0px;
	background: url('../img/bg.jpg') no-repeat; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

.image {
	color:white;
	h1 {
		font-family: norwester;
		font-size:80px;
		text-shadow: 1px 1px 0px #2e2e2e;
        filter: dropshadow(color=#2e2e2e, offx=1, offy=1);
	}
	p {
		font-family: norwester;
		margin-bottom:5px;
		font-size:20px;
		text-shadow: 1px 1px 0px #2e2e2e;
        filter: dropshadow(color=#2e2e2e, offx=1, offy=1);
	}
	h2 {
		font-family:norwester;
		color:white;
		text-shadow: 1px 1px 0px #2e2e2e;
        filter: dropshadow(color=#2e2e2e, offx=1, offy=1);
        font-size:24px;
        margin:0px;
        margin-bottom:5px;
	}
}

.register {
	&:focus {outline:none;}
	&::-moz-focus-inner {border:0;}
	background-color:#f94f4f;
	color:white;
	border:0px;
	border-radius:5px;
	width:50%;
	height: 50px;
	font-family: norwester;
	font-size:25px;
	-webkit-box-shadow: 2px 2px 0px rgba(235, 8, 8, 1);
	-moz-box-shadow:    2px 2px 0px rgba(235, 8, 8, 1);
	box-shadow:         2px 2px 0px rgba(235, 8, 8, 1);
    &:active {
    	-webkit-box-shadow: -2px -2px 0px rgba(235, 8, 8, 1);
		-moz-box-shadow:    -2px -2px 0px rgba(235, 8, 8, 1);
		box-shadow:         -2px -2px 0px rgba(235, 8, 8, 1);
		outline:none;
    }
}

.stats {
	padding: 50px 0px 50px 0px;
	h1 {
		font-family: norwester;
		font-size:45px;
	}
	strong {
		font-family: norwester;
		color:$orange;
	}
}

.workshops {
	background: url('../img/bg2.jpeg') no-repeat center center; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	padding: 50px 0px 50px 0px;
	h1 {
		font-family: norwester;
		font-size:45px;
		color:white;
		text-shadow: 1px 1px 0px #2e2e2e;
        filter: dropshadow(color=#2e2e2e, offx=1, offy=1);
	}
	strong {
		font-family: norwester;
		color:$orange;
		text-shadow: 1px 1px 0px #2e2e2e;
        filter: dropshadow(color=#2e2e2e, offx=1, offy=1);
	}
}

.shops {
	background-color:white;
	border-radius:5px;
	padding: 20px 50px 30px 20px;
	h2 {
		margin-top:0px;
		font-family:norwester;
	}
	p {
		font-weight:600;
	}
	h4 {
		font-size:14px;
		font-family: 'Lora', serif;
	}
	a {
		color:$orange;
		text-decoration:none;
	}
	-webkit-box-shadow: 1px 1px 1px rgba(50, 50, 50, 1);
	-moz-box-shadow:    1px 1px 1px rgba(50, 50, 50, 1);
	box-shadow:         1px 1px 1px rgba(50, 50, 50, 1);
}

.faq {
	h1 {
		font-family:norwester;
		font-size:40px;
	}

	padding: 50px 0px 50px 0px;
}

.prizes {
	h1 {
		font-family:norwester;
		font-size:40px;
		margin:0px;
		color:white;
		text-shadow: 1px 1px 0px #2e2e2e;
        filter: dropshadow(color=#2e2e2e, offx=1, offy=1);
	}
	background: url('../img/pheader.jpg') no-repeat; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	padding: 50px 0px 50px 0px;
}

.places {
	margin-top:50px;
}

.first {
	h1 {
		font-family: norwester;
		font-size:45px;
	}
	p {
		font-family:norwester;
	}
	h3 {
		font-size:16px;
	}
	margin-bottom:30px;
}

.second {
	h1 {
		font-family: norwester;
		font-size:36px;
	}
	h3 {
		font-size:16px;
	}
	p {
		font-family:norwester;
	}
	margin-bottom:50px;
}

.sprizes {
	h1 {
		font-family:norwester;
	}
	h2 {
		font-family:norwester;
		font-size:24px;
	}
	p {
		font-size:13px;
	}
	margin-bottom:50px;
}

.schedule {
	h1 {
		font-family:norwester;
		font-size:40px;
	}
	p {
		font-size:16px;
	}
	h4 {
		font-size:14px;
		font-family: 'Lora', serif;
	}
	h3 {
		font-size:12px;
		color:white;
		margin:0px;
	}
	padding: 50px 0px 50px 0px;
}

.around {
	background-color:$orange;
	padding: 5px;
}

.sponsors {
	h1 {
		font-family:norwester;
		font-size:40px;
	}
	p {
		font-size:20px;
	}
	a {
		color:$orange;
	}
	padding: 50px 0px 50px 0px;
}

.press {
	h1 {
		font-family:norwester;
		font-size:40px;
	}
	p {
		font-size:20px;
	}
	a {
		color:$orange;
	}
	padding: 50px 0px 50px 0px;
}

.footer {
	padding: 10px 0px 25px 0px;
	p {
		margin:0px;
	}
	a {
		margin:0px;
		color:$orange;
		text-decoration:none;
	}
}